body {
    background-color: #71e5ce;
    font-family: "Franklin Gothic Heavy";
}
a {
    text-decoration: none;
}

.choose_menu {
    z-index: 1;
    margin: 15% auto 10px;
    padding: 5px;
    color: white;
    background-color: #1282a2;
    border: none;
    border-radius: 4px;
    width: 25%;
    list-style-type: none;
}

.choose_select {
    color: white;
    background-color: #1282a2;
    border: none;
    width: 100%;
    font: 20px bold;
    margin: 5px auto;
    padding: 5px 0;
    border-radius: 4px;
}

.choose_not_select {
    color: white;
    background-color: #1282a2;
    border: none;
    width: 100%;
    font: 20px bold;
    margin: 5px auto;
    padding: 5px 0;
    border-radius: 4px;
    display: none;
}

.choose_no_selected_button {
    text-align: center;
    display: none;
    padding: 5px;
    margin: 5px auto;
    border-radius: 4px;
    width: 30%;
    font: 20px bold;
}

.choose_button {
    border: none;
    text-align: center;
    color: white;
    background-color: #1282a2;
    display: block;
    padding: 5px;
    margin: 5px auto;
    border-radius: 4px;
    width: 30%;
    font: 20px bold;
}

.choose_select:hover, .choose_button:hover, .choose_select:active, .choose_select:target {
    background-color: #0f647c;
    cursor: pointer;
    border:none;
}
.info {
    padding:20px;
    margin:10px;
    display:none;
    margin:auto;
    text-align:center;
    background-color:white;
    width:40%;
    min-height: 350px;

}
#info_image_space{
    width:100%;
    height:350px;
    border:1px solid black;
}
#info_image {
    max-height:350px;
}
#info_text {
    text-align: left;
}

